<h2>  <%= @restaurant.name %> </h2>
<br>
<p> Address: <%= @restaurant.address %> </p>
<p> Phone number: <%= @restaurant.phone_number %> </p>
<p> Category: <%= @restaurant.category.capitalize %> </p>
<p><%= link_to 'Reviews', restaurant_reviews_path(@restaurant) %></p>
<br>
<%= link_to 'Back to restaurants', restaurants_path, class: "btn btn-danger btn-sm" %>
